<h3> Browse by Merchant:</h3>

<ul>
  <% @merchants.each do |merchant| %>
  <li><%= link_to merchant.username, merchant_path(merchant) %></li>
  <li>Average Rating: TBD</li>
  <li>Categories: TBD</li>
  <li>Best-Seller: TBD</li>
  <li><img src="http://lorempixel.com/200/100"/></li>
  <% end %>
</ul>
