<div>
  <div class="top">
    <h2>Browse by Merchant:</h2>
  </div>
  <div>
    <ul class="pagination text-center">
      <li class="pagination-previous disabled">Previous</li>
      <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
      <li><a href="#" aria-label="Page 2">2</a></li>
      <li><a href="#" aria-label="Page 3">3</a></li>
      <li><a href="#" aria-label="Page 4">4</a></li>
      <li><a href="#" aria-label="Page 5">5</a></li>
      <li><a href="#" aria-label="Page 6">6</a></li>
      <li class="pagination-next"><a href="#" aria-label="Next page">Next</a></li>
    </ul>
  </div>
  <div class="grid-x">
    <% @merchants.each do |merchant| %>
    <ul>
      <li class='thumbnail'>

        <h4>
          <div class="name">
            <%= link_to merchant.username.capitalize, merchant_path(merchant) %>
          </div>
        </h4>

        <div class='image'>
          <p>Best-Seller:</p>
          <img src='http://placekitten.com/g/200/250' alt='placeholder photo' />
        </div>

        <p>
          <div class="categories text-center">
            <% merchant.product_categories.each do |category| %>
            <%= link_to category.name, categories_path %>
            <% end %>
          </div>
        </p>

      </li>
    </ul>
    <% end %>
  </div>

  <div>
    <ul class="pagination text-center">
      <li class="pagination-previous disabled">Previous</li>
      <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
      <li><a href="#" aria-label="Page 2">2</a></li>
      <li><a href="#" aria-label="Page 3">3</a></li>
      <li><a href="#" aria-label="Page 4">4</a></li>
      <li><a href="#" aria-label="Page 5">5</a></li>
      <li><a href="#" aria-label="Page 6">6</a></li>
      <li class="pagination-next"><a href="#" aria-label="Next page">Next</a></li>
    </ul>
  </div>
</div>
