/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*= require normalize-rails

*
*= require_tree .
*= require_self
*= require foundation_and_overrides

*/
/*all page body styling*/
body,html {
  height: 100%;

}
body {
  /*font-family: 'Raleway', sans-serif;*/
  /*font-family: 'Dosis', sans-serif;*/
  /*font-family: 'Shadows Into Light', cursive;*/
  /*font-family: 'Handlee', cursive;*/
  /*font-family: 'Arsenal', sans-serif;*/
  font-family: 'Neucha', cursive;

}
/*Navbar styling*/
.nav {
  width: 100%;
  position: fixed;
  background-color: #FFFFFF;
}
.top-bar-left {
  list-style-type: none;
  font-size: 40px;
}


/*form styling*/
form {
  padding: 2em;
}

/*Home page styling*/
#home-background-img {
  background-image: url('home_img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 2em;
  height: 22em;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7em;
}


.homepage-title {
  color: #fff;
  font-weight: bold;
  font-size: 2.75em;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.8),
  0px 8px 13px rgba(0,0,0,0.4),
  0px 18px 23px rgba(0,0,0,0.4);
}

i {
  color: #1779ba;
  cursor: pointer;
}
/*product grid styling*/
.grid-x {
  display: flex;
}

.description {
  display:flex;
  flex-direction: column;
}

/*cart item styling*/
.quantity {
  width: 3em;
  display: inline;
}

.cart-items {
  display:grid;
  grid-template-columns: 1fr 5em repeat(2, 1fr) repeat(2, 100px);
  font-size: 1.25em;
}

.checkout-items {
  display:grid;
  grid-template-columns: repeat(4, 250px);
  font-size: 1.25em;
}

.checkout {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

   opacity: 1;

}
